@tailwind base;
@tailwind components;
@tailwind utilities;
.landing {
  background-image: url("./imgs/1.jpg");
  /* Add other properties as needed */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

@layer base {
  body {
    @apply bg-zinc-950 text-neutral-200;
  }
}
